#allFind{
    background-color: rgba(255, 255, 255, 0.897);
    color: rgb(77, 148, 153);
    border: 1px solid grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px grey;
}

.search{
    background-color:#bed6d6;
    border: 1px solid grey;
    box-shadow: 2px 2px grey;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.searchDate{
    margin: 10px;
    margin-bottom: 30px;
    
}

.findTitle{
    margin: 20px;
}

.map{
   width:200px;
   margin: 0 auto;
   padding-bottom: 40px;
}

.myCard{
    margin-bottom: 40px;
}

.findPhoto{
    height: 150px;
}

.cardForFoundSubs{
    margin-bottom: 50px;
}

.officeFound{
    margin-bottom: 10px;
}




@media only screen and (min-width: 768px){
    #allFind{
        width: 70%;
        margin-left: 15%;
    }
 }

 @media only screen and (min-width: 992px){
    #allFind{
        width: 60%;
        margin-left: 20%;
    }
 }

 @media only screen and (min-width: 1200px){
    #allFind{
        width: 50%;
        margin-left: 25%;
    }
 }
