#loginContent{
    box-shadow: 3px 2px grey;
    background-color: #bed6d6;
    border: 3px white solid;
    color: white;
    margin-top: 100px;
    width: 80%;
}

#loginButton{
    background-color: rgb(104, 205, 212);
    border: none;
    box-shadow: 2px 2px grey;
}

#signUpIntro{
    margin-top: 20px;

}

#signUpButton{
    background-color: rgb(77, 148, 153);
    border: none;
    box-shadow: 2px 2px grey;
    margin-bottom: 20px;
}

.loginTitle{
    margin-top: 20px;
}




@media only screen and (min-width: 768px){
    #loginContent{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
 }

 @media only screen and (min-width: 992px){
    #loginContent{
        width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
    }
 }

 @media only screen and (min-width: 1200px){
    #loginContent{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
 }
