#loginContent{
    box-shadow: 10px 10px 5px grey;
    border: 3px white solid;
    color: grey;
    /*background-color: #bed6d6;*/
    padding: 0;
    margin-top: 30px;
    width: 80%;
    height: 420px;
}

.loginTrans{
    width: 100%;
    background-color: white;
    height: 100%;
    position: relative;
    opacity: .7;
}

.loginForm{
    position: relative;
    top: -420px;
}

.signUpForm{
    position: relative;
    top: -420px;
}

#loginButton{
    background-color: rgb(104, 205, 212);
    border: none;
    box-shadow: 2px 2px grey;
}

#signUpIntro{
    margin-top: 20px;

}

#signUpButton{
    background-color: rgb(77, 148, 153);
    border: none;
    box-shadow: 2px 2px grey;
    margin-bottom: 20px;
}

.loginTitle{
    margin-top: 20px;
}



@media only screen and (min-width: 576px){
    #loginContent{
        width: 50%;
        margin-left: 25%;
        margin-top: 80px;
    }
 }


@media only screen and (min-width: 768px){
    #loginContent{
        width: 40%;
        margin-left: 30%;
        margin-top: 80px;
    }
 }

 @media only screen and (min-width: 992px){
    #loginContent{
        width: 35%;
        margin-left: 32.5%;
        margin-top: 100px;
    }
 }

 @media only screen and (min-width: 1200px){
    #loginContent{
        width: 30%;
        margin-left: 35%;
       
    }
 }
