#subProfileContent, #officeProfileContent, .profileContent{
    color: rgb(77, 148, 153);
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px grey;
   
}

.profilePic{
    width: 40%;
    height: auto;
    margin-left: 10%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    border: 2px lightgrey solid;
   
}


.ratings{
    width: 215px;
    margin: 0 auto;
    margin-top: 20px;
}


.fullName{
    margin-top: 10px;
    margin-bottom: 20px;
}

.profileCalendar > input{
    position: relative;
    display: none;
}

.profileCalendar{
    position: relative;
    right: 15%;
    margin-top: 15px;
}

.aboutP{
    margin-left: 50px;
    margin-right: 50px;
}

.infoGroup > p{
    margin-top: 10px;
}

.infoGroup > h4 {
    margin-top: 20px;
}

.invites{
    color: rgb(77, 148, 153);
    background-color: white; 
    border: 1px solid grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding-bottom: 25px;
   
}

.inviteHeading{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(175, 175, 175);
    
}

.invite{
    background-color:  #88c0c0;
    color: white;
    padding: 5px;
    margin: 20px;
    border: 1px grey solid;
    box-shadow: 5px 5px 5px grey;
    
  
}

.map{
    width: 200px;
    margin: 0 auto;
    
}

.searchedMap{
    width: 200px;
    margin: 0 auto;
   
}



.neededDatesTitle{
    margin-top: 20px;
    margin-bottom: 10px;
}

.invitation{
    background-color: #bed6d6;
    margin: 20px;
    box-shadow: 5px 5px 5px grey;
    border: 1px grey solid;
    color: white;
    text-align: center;
}

.acceptBtn{
    box-shadow: 2px 2px grey;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -5px;
}

.invitationTitle{
    font-size: 18px;
    margin-bottom: 5px;
}

.inviteMe{
    background-color: #bed6d6;
    margin: 20px;
    box-shadow: 5px 5px 5px grey;
    border: 1px grey solid;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.inviteMeBtn{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inviteInput{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}



@media only screen and (min-width: 350px){
    .profileCalendar{
        position: relative;
        right: 11%;
    }

    
}

@media only screen and (min-width: 390px){
    .profileCalendar{
        position: none;
        right: 0%;
        width: 330px;
        margin: 0 auto;
    }

    .invite{
        width: 220px;
        margin: 20px auto;
    }

    .invitation{
        width: 80%;
        margin-left: 10%;
     }

     .inviteMe{
        width: 70%;
        margin-left: 15%;
    }
}


@media only screen and(min-width: 576px){
   
}




@media only screen and (min-width: 768px){
    .invitation{
        width: 50%;
        margin-left: 25%;
     }

     .inviteMe{
        width: 55%;
        margin-left: 22.5%;
    }
 }

 @media only screen and (min-width: 992px){
    .invites{
        width: 60%;
        margin-left: 20%;
        
    }

    #subProfileContent, #officeProfileContent, .profileContent{
        width: 60%;
        margin-left: 20%;
    }

    .invitation{
        width: 40%;
        margin-left: 30%;
     }

     .inviteMe{
        width: 50%;
        margin-left: 25%;
    }
 }

 @media only screen and (min-width: 1200px){
    .invites{
        width: 40%;
        margin-left: 30%;
        
    }

    #subProfileContent, #officeProfileContent, .profileContent{
        width: 40%;
        margin-left: 30%;
    }

    .invitation{
        width: 50%;
        margin-left: 25%;
     }
 }