.allUpcoming{
    background-color: rgba(255, 255, 255, 0.863);
    color: rgb(70, 149, 155);
    border: 1px grey solid;
    box-shadow: 5px 5px 5px grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.upcomingJob{
    background-color: #bed6d6;
    color: white;
    padding: 5px;
    margin: 20px;
    border: 1px grey solid;
    box-shadow: 5px 5px 5px grey;    
}

.upcomingTitle{
    margin-top: 20px;
}

.didItBtn{
    margin-bottom: 10px;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    box-shadow: 2px 2px grey;
}







@media only screen and (min-width: 768px){
    .upcomingJob{
        width: 60%;
        margin-left: 20%;
        
    }
 
    .allUpcoming{
        width: 60%;
        margin-left: 20%;
    }
}

@media only screen and (min-width: 992px){
   .upcomingJob{
       width: 60%;
       margin-left: 20%;
       
   }

   .allUpcoming{
       width: 60%;
       margin-left: 20%;
   }
}

@media only screen and (min-width: 1200px){
    .upcomingJob{
       width: 40%;
       margin-left: 30%;
       
   }

   .allUpcoming{
       width: 40%;
       margin-left: 30%;
   }
}