body{
    /*background-color: #b0d4d4;*/
    background-color: rgb(114, 113, 113);
    background-color: white;
    
    /*background-image: linear-gradient(141deg, #0ec085 0%, #1fc8db 51%, #cae689 75%);*/
    /*background-image: linear-gradient(141deg, #7a96d8 0%,#602bf1 31%,#7b94cf 95% );*/
    margin: 0;
    padding: 0;
    width: 100%;
    
    position: relative;
}

#welcomeContent {
    
    width: 80%;
    margin-top: 100px;
    
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    
    color: white;
    
   
    
}

#welcomeBtn{
    position: relative;
    top: -250px;
    
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    /*background-image:linear-gradient(  #32b8b8 0%,  #74e27d 91%);*/
    /*background-image:linear-gradient(    #00d5e9 0%, #74e2ab 55%, #74e2ab 75%, #87fd00 99%);*/
background-color: rgb(104, 205, 212);
    
    box-shadow: 2px 2px grey;
    font-family: 'Dosis', sans-serif;
    animation-name: glow;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    
}



@keyframes glow{
    0%{

    }
    50%{
        box-shadow: 5px 5px 5px rgb(95, 230, 230);
        
    }
}





#logo{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 6px;
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(54, 52, 52);
    animation-name: glide;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    
}

#logoDiv{
    width: 315px;
    margin-top: -60px;
    margin-left: -20px;
    padding: 0px;
    
    
}


@keyframes glide{
    0%{
      margin-left:150%;
    }
    100%{
      margin-left:0px;
    }
}




.tooth2{
    position: relative;
    top: -50px;
    left: 244px;
    height: 38px;
    animation-name: slide;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes slide{
    0%{
      top:-500px;
    }
    100%{
      top:-50px;
    }
}

#welcomeBottom{
    
    color: rgb(143, 143, 143);
    height: 280px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px white solid;
    box-shadow: 10px 10px 5px grey;
   
    margin-top: 0px;
      
}

.welcomeBottomTrans{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#b0d4d3;
    background-color: white;
    opacity: .6;
}

#question{
    position: relative;
    font-size: 17px;
    width: 80%;
    top: -250px;
    left: 10%;
    padding: 20px 20px 0px 20px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    
    


    
}



@media only screen and (min-width: 325px){
    .tooth2{
        left: 247px;
    }

    #question{
        top: -230px;
    }

    #welcomeBtn{
        top: -220px;
    }
}
    


@media only screen and (min-width: 576px){
    
#question{
    top: -240px;
}
#welcomeBtn{
    top: -230px;
}

#welcomeBottom{
    width: 70%;
    margin-left: 15%;
    height: 340px;
}
  
}


@media only screen and (min-width: 768px){
    #welcomeBottom{
        width: 60%;
        margin-left: 20%;
       
    }
 }

 @media only screen and (min-width: 992px){
    #welcomeBottom{
        width: 50%;
        margin-left: 25%;
       
    }


    #logo{
        font-size: 60px;
        
    }
    
    #logoDiv{
        width: 500px;  
    }
    
    
    @keyframes glide{
        0%{
          margin-left:250%;
        }
        100%{
          margin-left:0px;
        }
    }
    
    
    .tooth2{
        position: relative;
        top: -64px;
        left: 373px;
        height: 50px;
    }
    
    @keyframes slide{
        0%{
          top:-500px;
        }
        100%{
          top:-64px;
        }
    }
    
 
    
   

  
 }

 @media only screen and (min-width: 1200px){
    #welcomeBottom{
        width: 35%;
        margin-left: 32.5%;
        height: 250px;
        margin-top: -25px;
       
    }

    #question{
        top: -190px;
    }

    #welcomeBtn{
        top: -180px;
    }


    

    #logo{
        font-size: 80px;
        
    }
    
    #logoDiv{
        width: 500px;  
        margin-top: -20px;
        margin-left: 40px;
    }
    
    
    @keyframes glide{
        0%{
          margin-left:250%;
        }
        100%{
          margin-left:0px;
        }
    }
    
    
    .tooth2{
        position: relative;
        top: -84px;
        left: 403px;
        height: 68px;
    }
    
    @keyframes slide{
        0%{
          top:-500px;
        }
        100%{
          top:-84px;
        }
    }
    
 }